.registration {
    padding: 40px;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 40px auto;
    text-align: center;
}

.registration h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-box label {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 5px;
}

.field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.submit-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: red;
}
